# public/.htaccess

# set application environment [development-testing-staging-production]
SetEnv AULA_APP_ENV 	"anas"
# set physical application path '/var/www/htmll/www.mutashabih.local/'
SetEnv AULA_APP_PATH 	"/var/www/html/www.aulaula.local/"
# set domain name 'mutashabih.local'
SetEnv AULA_APP_DOMAIN 	"aulaula.local"

# define default re-write rules
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ /index.php [NC,L]
