/****** All Rights reserved to www.mtellawi.com ******/

/*Common Styles*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{font:normal 12px tahoma, Arial, Helvetica, sans-serif; color:#333; background:url(../images/bode_pattern.jpg); padding:15px 0; margin:0; text-align:right}
img{outline:none;}
fieldset, img{border:none}
ul, ol, li{list-style:none;}
table, td, form, fieldset{border:none; border-collapse:collapse; border-spacing:0;}
caption, th, td{text-align:left; font-weight:normal;}
.nowrap{white-space:nowrap}
h1, h2, h3, h4, h5, h6{font:bold 15px Arial, Helvetica, sans-serif}
select, textarea, input{font-size:11px; font-family:tahoma ; color:#333}
a, a:link, a:visited, a:active{color:#277fa3; text-decoration:none; outline:none;}
a:hover{text-decoration:underline}
.inpt-txt{padding:1px 2px 0 0; border:1px solid #bebebe; width:200px; height:19px;}
.inpt-slct{height:21px;}
.txt-area{width:250px; padding:0 2px 0 0; border:1px solid #bebebe;}
.inptfile{width:250px; *height:22px}
.inptslct{height:22px; padding:0;}
.intchk{width:15px; margin:0 0 0 5px;}
.inptrdio{width:15px; margin:3px 0 0 5px; *margin:0 0 0 5px}
.inptlabl{width:86%;}
.interactiv{background:#f6f6f6; border:1px solid #ccc; padding:5px;}
.cleaner{zoom:1}
.cleaner:after{clear:both;content:'.';display:block;height:0;visibility:hidden;}
.fr{float:right}
.fl{float:left;} 

/**/
.containcont{width:858px; margin:0 auto; background:url(../images/contlft.png) repeat-y 0 0; padding:0 0 0 10px;}
.containrit{background:url(../images/contrit.png) repeat-y 100% 0; padding:0 10px 0 0;}
.container{background:#e4e4e4; overflow:hidden; height:100%; line-height:16px; direction:rtl; padding:10px;}
.header{width:788px; margin:0 auto; background:url(../images/headbg.png) no-repeat 0 0; height:158px; padding:30px 60px 0 20px; direction:rtl}
.logo{}
*html .logo img{filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}
*html .logo{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo.png');}
.slogan{margin:55px 20px 0 0;}
*html .slogan img{filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}
*html .slogan{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/mutashabeh.png');}
.datetime{color:#ffd800; margin:77px 0 0; float:left}
.datetime td{padding:3px;}
*html .timelabl img{filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}
*html .timelabl{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/timelabel.png'); float:right}
*html .datelabl img{filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}
*html .datelabl{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/datelabel.png'); float:right}

.data{width:635px; float:right}
.ritpanel{width:180px; float:right}
.middledata{width:440px; float:left; margin:5px 0 0}
.lftpanel{width:180px; float:left}
.box{width:180px; margin:0 0 6px}
.boxtitle{background:url(../images/boxtitlebg.gif) no-repeat 0 0; padding:0 0 0 12px;}
.boxtitle span{background:url(../images/boxtitlebg.gif) no-repeat 100% 0; padding:12px 12px 0 0; display:block; height:22px;}
.boxdata{background:url(../images/boxdatapx.gif) repeat-y 0 0; padding:6px 12px 0; _height:1%}
.boxbotom, .boxbotom span{background:url(../images/boxbotombg.gif) no-repeat 0 0; padding:0 0 0 12px; display:block; height:11px;}
.boxbotom span{background-position:100% 0;}
.lst{}
.lst li{background:url(../images/lstpx.gif) repeat-x 0 100%; padding:2px 0 8px;}
.circlbg{background:url(../images/circle.gif) no-repeat 100% 5px; padding:0 12px 0 0; display:block}
.visitnum{background:url(../images/vistiornumbg.gif) no-repeat 0 0; padding:18px 102px 0 15px; width:63px; height:30px; font:bold 14px arial; color:#6b1212; overflow:hidden; margin:0 0 10px 0;}
.adslst li{text-align:center; margin:10px 0 0;}
/*boxwite*/
.boxwite{background:#fff;}
.boxwtop, .boxwtop span, .boxwtop em, .boxwbotom, .boxwbotom span, .boxwbotom em{display:block; height:7px; background:url(../images/boxpx.gif) repeat-x 0 0; font-size:0; line-height:0}
.boxwtop span{background:url(../images/boxrt.gif) no-repeat 100% 0;}
.boxwtop em{background:url(../images/boxlt.gif) no-repeat 0 0;}
.boxwbotom{background-position:0 100%;}
.boxwbotom span{background:url(../images/boxrb.gif) no-repeat 100% 100%}
.boxwbotom em{background:url(../images/boxlb.gif) no-repeat 0 100%}
.boxwdata{padding:5px 12px; border:1px solid #bebebe; border-width:0 1px; height:100%}

.boxwitegray{background:#fff;}
.boxwitegray .boxwtop, .boxwitegray .boxwtop span, .boxwitegray .boxwtop em, .boxwitegray .boxwbotom, .boxwitegray .boxwbotom span, .boxwitegray .boxwbotom em{background:url(../images/boxwgpx.gif) repeat-x 0 0; height:10px;}
.boxwitegray .boxwtop span{background:url(../images/boxwgrt.gif) no-repeat 100% 0;}
.boxwitegray .boxwtop em{background:url(../images/boxwglt.gif) no-repeat 0 0;}
.boxwitegray .boxwbotom{background-position:0 100%;}
.boxwitegray .boxwbotom span{background:url(../images/boxwgrb.gif) no-repeat 100% 100%}
.boxwitegray .boxwbotom em{background:url(../images/boxwglb.gif) no-repeat 0 100%}
.boxwitegray .boxwdata{padding:5px 12px; border:5px solid #cfcfcf; border-width:0 5px; height:100%}
/**/
.dotpx{background:url(../images/dotpx.gif) repeat-x 0 100%; padding:0 0 10px 0}
.arowlst{}
.arowlst li{background:url(../images/arrow.gif) no-repeat 100% 6px; padding:0 10px 0 0; margin:0 0 6px;}
.more{background:#cfcfcf; font-style:normal; padding:2px 6px 0; display:block; font-weight:bold; position:relative; top:10px; font-size:11px;}
.tabs{background:#efefef; margin:-5px 0 0; border:5px solid #cfcfcf; border-width:0 5px;}
.tabs li{display:inline;}
.tabs li a{display:block; float:right; padding:5px 12px 6px; background:#efefef; font-weight:bold}
.tabs li.on a{background:#fff;}
.thumb, .thumbmarg{border:1px solid #d4d4d4; padding:1px;}
.thumbmarg{margin:0 0 2px 5px;}
.thumblst{margin:10px 0 0;}
.thumblst li{float:right; margin-left:12px;}
.thumblst li.last, .adsbotomlst li.last{margin:0;}
.adsbotomlst{margin:15px 0 0;}
.adsbotomlst li{float:right; margin:0 0 0 29px;}
.votelst{*padding:12px 0 0}
.votelst li{margin:12px 0 0; *margin:6px 0 0}
.voteresult{}
.voteresult li{margin:10px 0 0}
.votebar{margin:2px 0 0}
.votebar span{background:#ffad4d url(../images/votepx.gif) repeat-x 0 0; display:block; height:12px;}
.title{font:bold 14px tahoma; color:#ff8a00; margin:0 0 15px;}
.newslstsep li{background:url(../images/graysep.gif) repeat-x 100% 100%; padding:0 0 10px 0; margin:0 0 10px 0;}
.date, .title .date{color:#999; font-size:11px; margin-top:2px; font-style:normal; font-weight:normal}

.addcom{background:#f6f6f6; border:1px solid #cfcfcf; padding:5px; margin:25px 0 0;}
a.print, .print-ico-iner, a.tell-frind, a.add-fav{background:url(../images/artclicon.gif) no-repeat 100% -71px; padding-right:26px; float:right; margin-left:20px}
a.tell-frind{background-position:100% -37px; padding-right:23px;}
a.add-fav{background-position:100% 0; padding-right:23px;}
/*print*/
.nobg{background:none;}
.print-page{width:800px; margin:15px auto; direction:rtl;}
.print-page .artcl{min-height:350px; float:none; width:100%}
*html .print-page .artcl{height:350px;}
.print-head{margin:0 0 20px; padding:6px; border-bottom:1px solid #999}
.printcopy{color:#999; margin:20px 0 0;}
.print-page .title{color:#000}

.addcomlst{margin:10px 0 0;}
.addcomlst li{margin:0 0 15px;}
.addcomlst li.margless{margin:20px 0 5px;}
.addcomlst .inpt-txt{border:2px solid #dfdfdf; height:20px}
.txtarea{border:2px solid #dfdfdf;}
.frstcol, .frstcolless{width:140px; margin:0 0 0 10px; /*text-align:left*/}
.frstcolless{width:90px;}
.inptbtn{border:none; background:url(../images/btnpx.gif) repeat-x 0 0; font:bold 13px tahoma; color:#8d6318; padding:0 16px; *padding:0 10px; height:25px;}

.comments li{padding:0 0 10px; margin:0 0 10px; background:url(../images/graysep.gif) repeat-x 100% 100%}
.comments li.last{padding:0; margin:0; background:none}
.comment-txt{margin:12px 0 12px 130px;}
.by-user p{float:right;}
.by-user p.by-date{float:left;}
.audiodesc{width:85%; float:right}
.infolst{margin:10px 0 0;}

/*email-page*/
.email-page{width:600px; margin:12px auto; line-height:16px; background:#fff; padding:8px; direction:rtl; text-align:right}
.email-page{width:750px;}
.email-frind{width:100%; margin:15px 0 0}
.email-frind td{padding:6px 6px 8px; text-align:right}
.email-frind .inpttxt{width:178px;}
.feldset{border:1px solid #ccc; padding:0 10px; margin:0 0 20px;}
.feldset legend{font:normal 19px arial; color:#ff8A00}





.error, .success{background:#ffcfcf url(../images/error.gif) no-repeat 99% 8px; border:1px solid #e5a3a3; padding:7px 35px 6px 5px; font-size:11px; font-weight:bold; margin:5px 0; color:#c00}
.success{background:#defcd0 url(../images/success.gif) no-repeat 99% 8px; border:1px solid #a5f66b; color:#4eae21}

/*tree*/
.tree{margin:0 0 10px; font-size:12px; color:#333; padding:0 0 5px 0}
.tree li{display:inline}
.tree li a{background:url(../images/tree-bg.gif) no-repeat 0 6px; float:right; display:block; font-weight:bold; padding-left:18px; margin-left:9px;}
/**/
/*paging*/
.paging{text-align:center; padding:15px 0;}
.paging a, .paging span{padding:4px 7px 5px; margin:0 2px; float:right; border:1px solid #ccc; background:#f6f6f6; background-image:-moz-linear-gradient(top,#ffffff,#efefef); background-image:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#efefef)); filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff,endColorStr=#efefef);-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFFFFF, endColorStr=#EFEFEF)"; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; white-space:nowrap; vertical-align:middle; cursor:pointer; overflow:visible; display:inline-block}
.paging a:hover, .paging .current:hover{border-color:#999; background:#f3f3f3; background-image:-moz-linear-gradient(top,#ffffff,#ebebeb); background-image:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#ebebeb)); filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff,endColorStr=#ebebeb); -ms-filter:"progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFFFFF, endColorStr=#EBEBEB)"; outline:0; -moz-box-shadow:0 0 3px #999; -webkit-box-shadow:0 0 3px #999;box-shadow:0 0 3px #999; text-decoration:none}
.paging .current, .paging .current:hover{color:#000;font-weight:bold;background:#ddd;-moz-boz-shadow:none;-webkit-box-shadow:none;box-shadow:none;cursor:default;border-color:#ccc}
.paging .current:hover{}
/**/
.botombg{width:868px; margin:0 auto; display:block; height:19px; background:url(../images/contbotomrit.png) no-repeat 100% 0;}
.botombg span{background:url(../images/contbotomlft.png) no-repeat 0 0; display:block; height:19px; padding:0 17px;}
.botombg em{background:url(../images/contbotompx.png) repeat-x 0 0; display:block; height:19px;}
.footer{width:868px; margin:0 auto; padding:5px 15px 15px; color:#7e7e7e; font-size:11px; text-align:center; direction:rtl;}
.copyrights-outer{padding:8px 0 0}
.footlnks{}
.footer .footlnks li{display:inline;}
.footer .footlnks li a{display:inline-block; border-left:1px solid #4d4d4d; padding:0 0 0 10px; margin:0 0 0 10px; color:#4d4d4d;}
.footer .footlnks li.last a{border:none; padding:0; margin:0;}

.margt5px{margin-top:5px;}
.margt1{margin-top:10px;}
.margt1haf{margin-top:15px;}
.margt2{margin-top:20px;}
.margbhaf{margin-bottom:5px;}
.margb1{margin-bottom:10px;}
.fnt11{font-size:11px;}
.gray{color:#7e7e7e}